In [1]:
import pandas as pd

In [2]:
source = pd.read_parquet('../../data/processed/cleanedData.parquet')
print(source.head())

  Transaction_ID Customer_ID        City    Country  Age  Gender  Income  \
0        1000073       15173  Portsmouth         UK   20    Male  Medium
1        1000503       20565   Cleveland        USA   23  Female     Low
2        1000601       94315     Belfast         UK   25  Female  Medium
3        1000828       30491     Chicago        USA   34    Male     Low
4        1000996       23923  Gold Coast  Australia   31  Female    High

  Customer_Segment        Date  Year  ...      Time Total_Purchases  \
0              New  2007-07-23  2023  ...   6:52:31               7
1          Premium  2023-07-17  2023  ...   1:58:18               2
2          Regular  2001-11-24  2024  ...   0:33:10               2
3              New  2006-12-23  2023  ...  22:58:01               2
4              New  2012-11-23  2023  ...   0:50:23               8

       Amount  Total_Amount  Product_Category Product_Type Shipping_Method  \
0  432.117340   3024.821289             Books  Non-Fiction        Same-Day
1  400.863098    801.726196        Home Decor  Decorations        Same-Day
2  107.706604    215.413208       Electronics   Smartphone         Express
3   46.192223     92.384445           Grocery   Soft Drink        Same-Day
4  253.487885   2027.903076        Home Decor  Decorations         Express

  Payment_Method Order_Status Ratings
0    Credit Card   Processing       1
1         PayPal   Processing       4
2     Debit Card   Processing       4
3         PayPal   Processing       4
4    Credit Card    Delivered       3

[5 rows x 21 columns]