In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [3]:
spark = SparkSession.builder.appName('sales').getOrCreate()

In [4]:
df = spark.read.parquet("../../data/processed/cleanedData.parquet")
df.show()

+--------------+-----------+-------------------+---------+---+------+------+----------------+----------+----+---------+--------+---------------+---------+------------+----------------+------------+---------------+--------------+------------+-------+
|Transaction_ID|Customer_ID|               City|  Country|Age|Gender|Income|Customer_Segment|      Date|Year|    Month|    Time|Total_Purchases|   Amount|Total_Amount|Product_Category|Product_Type|Shipping_Method|Payment_Method|Order_Status|Ratings|
+--------------+-----------+-------------------+---------+---+------+------+----------------+----------+----+---------+--------+---------------+---------+------------+----------------+------------+---------------+--------------+------------+-------+
|       1000043|      91680|         Fort Worth|      USA| 19|  Male|   Low|             New|2023-11-23|2023| November| 8:23:26|             10|285.67474|   2856.7476|     Electronics|  Smartphone|       Same-Day|        PayPal|   Delivered|      4|
|       1000593|      50458|            Bendigo|Australia| 46|  Male|  High|             New|2023-08-20|2023|   August|14:41:13|              4| 35.53774|   142.15096|      Home Decor|   Furniture|       Same-Day|        PayPal|     Shipped|      5|
|       1000596|      61173|         Manchester|       UK| 70|  Male|Medium|         Regular|2023-03-29|2023|    March| 3:02:21|              6|11.047317|     66.2839|      Home Decor|       Tools|       Standard|    Debit Card|   Delivered|      2|
|       1000831|      96401|             Mackay|Australia| 20|  Male|   Low|             New|2003-01-23|2023|    March|20:40:26|              2| 58.49707|   116.99414|        Clothing|       Shirt|       Same-Day|   Credit Card|   Delivered|      1|
|       1000920|      39799|          Frankfurt|  Germany| 22|  Male|Medium|         Regular|2023-04-16|2023|    April| 1:42:26|              5|46.615414|   233.07706|      Home Decor| Decorations|       Standard|   Credit Card|   Delivered|      1|
|       1000986|      89655|            Toronto|   Canada| 36|  Male|  High|         Premium|2023-08-26|2023|   August| 7:40:46|              8|11.351654|    90.81323|     Electronics|  Television|       Same-Day|   Credit Card|  Processing|      5|
|       1001000|      33717|       Philadelphia|      USA| 35|Female|  High|         Regular|2012-06-23|2023| December| 4:56:51|              4|196.59247|    786.3699|      Home Decor|   Furniture|       Same-Day|          Cash|   Delivered|      2|
|       1001061|      82482|          Frankfurt|  Germany| 22|  Male|Medium|         Regular|2024-01-29|2024|  January|12:54:42|              6| 42.30735|    253.8441|           Books|  Children's|        Express|   Credit Card|   Delivered|      2|
|       1001124|      26532|            Bristol|       UK| 26|  Male|   Low|         Regular|2023-10-19|2023|  January|12:11:46|              9|30.121069|   271.08963|     Electronics|      Fridge|       Same-Day|        PayPal|   Delivered|      4|
|       1001126|      87037|          Frankfurt|  Germany| 24|Female|   Low|             New|2023-05-23|2023|      May|13:18:01|              9|41.272427|   371.45184|      Home Decor|     Kitchen|       Standard|    Debit Card|   Delivered|      1|
|       1001176|      86614|           Edmonton|   Canada| 60|Female|  High|         Premium|2007-12-23|2023|     July|22:38:16|              9|397.16098|    3574.449|     Electronics|      Tablet|       Standard|        PayPal|     Pending|      5|
|       1001602|      79403|             Boston|      USA| 23|  Male|  High|         Regular|2023-07-31|2023|     July|17:25:41|             10| 214.5452|    2145.452|     Electronics|      Tablet|        Express|          Cash|     Shipped|      4|
|       1001637|      42502|            Chicago|      USA| 34|Female|   Low|             New|2007-10-23|2023|     July|17:26:27|              6|489.96204|   2939.7722|     Electronics|      Tablet|        Express|   Credit Card|   Delivered|      4|
|       1001788|      27727|          Melbourne|Australia| 39|  Male|Medium|         Premium|2010-11-23|2023|      May|19:24:58|              7|131.40099|    919.8069|           Books| Non-Fiction|       Same-Day|        PayPal|     Shipped|      4|
|       1002001|      96683|Newcastle upon Tyne|       UK| 20|  Male|  High|             New|2023-09-17|2023|September| 0:57:09|              9|264.93164|   2384.3848|           Books|     Fiction|       Standard|          Cash|     Pending|      1|
|       1002717|      39198|         Portsmouth|       UK| 19|  Male|Medium|         Regular|2023-03-16|2023|    March| 6:19:06|              5|431.46738|    2157.337|      Home Decor|    Lighting|       Same-Day|        PayPal|   Delivered|      3|
|       1003009|      25829|            Bendigo|Australia| 26|  Male|   Low|         Regular|2024-02-17|2024|  January| 0:53:03|              4|12.069369|   48.277477|     Electronics|      Fridge|       Standard|   Credit Card|   Delivered|      4|
|       1003037|      49998|         Portsmouth|       UK| 21|Female|Medium|         Regular|2010-12-23|2023|  October|17:35:06|              9|128.80405|   1159.2363|           Books|  Literature|       Standard|          Cash|  Processing|      2|
|       1003129|      69104|           Canberra|Australia| 34|Female|Medium|         Regular|2023-05-29|2023|      May|18:01:53|             10|384.14456|   3841.4456|         Grocery|       Water|       Same-Day|        PayPal|     Shipped|      3|
|       1003285|      24195|            Windsor|   Canada| 26|  Male|   Low|         Regular|2023-05-29|2023|  January|20:24:55|              9|125.15536|   1126.3982|     Electronics|      Fridge|       Same-Day|   Credit Card|   Delivered|      3|
+--------------+-----------+-------------------+---------+---+------+------+----------------+----------+----+---------+--------+---------------+---------+------------+----------------+------------+---------------+--------------+------------+-------+
only showing top 20 rows

In [5]:
groupedDf = df.groupBy('Date').agg(F.sum(F.col('Total_Amount')).alias('Total_Sales')).orderBy('Date')

minDate, maxDate = df.select(F.min("Date"), F.max("Date")).first()
newDf = spark.range(0, (maxDate - minDate).days + 1) \
    .withColumn("Date", F.date_add(F.lit(minDate), F.col("id").cast("int"))) \
    .drop("id")

resultDf = newDf.join(groupedDf, on="Date", how="left")

resultDf = resultDf.fillna(0, subset=["Total_Sales"])

orderedDf = resultDf.orderBy("Date")

In [6]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, ReLU
from datetime import timedelta

pandas_df = orderedDf.toPandas()

# Normalize the 'Total_Sales' column
scaler = MinMaxScaler(feature_range=(0, 1))
pandas_df['Total_Sales'] = scaler.fit_transform(pandas_df[['Total_Sales']])

# Prepare the time series data
def create_sequences(data, seq_length, pred_length):
    X, y = [], []
    for i in range(len(data) - seq_length - pred_length):
        X.append(data[i:i + seq_length])
        y.append(data[i + seq_length:i + seq_length + pred_length])
    return np.array(X), np.array(y)

# Define sequence length and prediction length
seq_length = 30  # Use the last 30 days to predict the next 6 months
pred_length = 180  # 6 months * 30 days/month

# Create sequences
X, y = create_sequences(pandas_df['Total_Sales'].values, seq_length, pred_length)

# Split into training and testing sets
train_size = int(len(X) * 0.8)
X_train, X_test = X[:train_size], X[train_size:]
y_train, y_test = y[:train_size], y[train_size:]

# Reshape X to be compatible with LSTM input (samples, timesteps, features)
X_train = X_train.reshape((X_train.shape[0], X_train.shape[1], 1))
X_test = X_test.reshape((X_test.shape[0], X_test.shape[1], 1))

In [ ]:
model = Sequential()
model.add(LSTM(50, return_sequences=True, input_shape=(seq_length, 1)))  # First LSTM layer
model.add(LSTM(50, return_sequences=False))  # Second LSTM layer
model.add(Dense(pred_length))  # Output layer to predict the next 6 months
model.add(ReLU())  # Add ReLU activation to ensure non-negative predictions

# Compile the model
model.compile(optimizer='adam', loss='mse')

# Train the model
model.fit(X_train, y_train, epochs=50, batch_size=64, validation_data=(X_test, y_test))

d:\academic\Spark\RetailRadar\.venv\Lib\site-packages\keras\src\layers\rnn\rnn.py:200: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/5
103/103 ━━━━━━━━━━━━━━━━━━━━ 13s 58ms/step - loss: 0.0155 - val_loss: 0.0616
Epoch 2/5
103/103 ━━━━━━━━━━━━━━━━━━━━ 5s 49ms/step - loss: 0.0139 - val_loss: 0.0618
Epoch 3/5
103/103 ━━━━━━━━━━━━━━━━━━━━ 5s 47ms/step - loss: 0.0133 - val_loss: 0.0652
Epoch 4/5
103/103 ━━━━━━━━━━━━━━━━━━━━ 5s 45ms/step - loss: 0.0127 - val_loss: 0.0657
Epoch 5/5
103/103 ━━━━━━━━━━━━━━━━━━━━ 5s 50ms/step - loss: 0.0123 - val_loss: 0.0668

In [8]:
last_sequence = pandas_df['Total_Sales'].values[-seq_length:].reshape((1, seq_length, 1))

# Predict the next 6 months
predicted_sales = model.predict(last_sequence)

# Clip negative values to 0
predicted_sales = np.clip(predicted_sales, 0, None)

# Inverse transform the predictions to get actual sales values
predicted_sales = scaler.inverse_transform(predicted_sales.reshape(-1, 1)).flatten()

# Generate the dates for the next 6 months
predicted_dates = [maxDate + timedelta(days=i) for i in range(1, pred_length + 1)]

# Create a DataFrame for the predictions
predictions_df = pd.DataFrame({
    'Date': predicted_dates,
    'Predicted_Sales': predicted_sales
})

# Convert 'Date' column to datetime
predictions_df['Date'] = pd.to_datetime(predictions_df['Date'])

# Aggregate predictions by month
predictions_df['YearMonth'] = predictions_df['Date'].dt.to_period('M')  # Extract year-month
monthly_predictions = predictions_df.groupby('YearMonth')['Predicted_Sales'].sum().reset_index()

# Convert YearMonth back to string for better readability
monthly_predictions['YearMonth'] = monthly_predictions['YearMonth'].astype(str)

print(monthly_predictions)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 302ms/step
  YearMonth  Predicted_Sales
0   2024-03       3701444.00
1   2024-04       3362704.50
2   2024-05       3159305.00
3   2024-06       3039018.00
4   2024-07       2573162.25
5   2024-08       2754330.00