In [80]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.window import Window

In [81]:
spark = SparkSession.builder.appName('sparkApp').config("spark.python.worker.timeout", "120") .getOrCreate()

In [82]:
df = spark.read.parquet("../../data/processed/cleanedData.parquet")
df.show()

+--------------+-----------+-------------------+---------+---+------+------+----------------+----------+----+---------+--------+---------------+---------+------------+----------------+------------+---------------+--------------+------------+-------+
|Transaction_ID|Customer_ID|               City|  Country|Age|Gender|Income|Customer_Segment|      Date|Year|    Month|    Time|Total_Purchases|   Amount|Total_Amount|Product_Category|Product_Type|Shipping_Method|Payment_Method|Order_Status|Ratings|
+--------------+-----------+-------------------+---------+---+------+------+----------------+----------+----+---------+--------+---------------+---------+------------+----------------+------------+---------------+--------------+------------+-------+
|       1000043|      91680|         Fort Worth|      USA| 19|  Male|   Low|             New|2023-11-23|2023| November| 8:23:26|             10|285.67474|   2856.7476|     Electronics|  Smartphone|       Same-Day|        PayPal|   Delivered|      4|
|       1000593|      50458|            Bendigo|Australia| 46|  Male|  High|             New|2023-08-20|2023|   August|14:41:13|              4| 35.53774|   142.15096|      Home Decor|   Furniture|       Same-Day|        PayPal|     Shipped|      5|
|       1000596|      61173|         Manchester|       UK| 70|  Male|Medium|         Regular|2023-03-29|2023|    March| 3:02:21|              6|11.047317|     66.2839|      Home Decor|       Tools|       Standard|    Debit Card|   Delivered|      2|
|       1000831|      96401|             Mackay|Australia| 20|  Male|   Low|             New|2003-01-23|2023|    March|20:40:26|              2| 58.49707|   116.99414|        Clothing|       Shirt|       Same-Day|   Credit Card|   Delivered|      1|
|       1000920|      39799|          Frankfurt|  Germany| 22|  Male|Medium|         Regular|2023-04-16|2023|    April| 1:42:26|              5|46.615414|   233.07706|      Home Decor| Decorations|       Standard|   Credit Card|   Delivered|      1|
|       1000986|      89655|            Toronto|   Canada| 36|  Male|  High|         Premium|2023-08-26|2023|   August| 7:40:46|              8|11.351654|    90.81323|     Electronics|  Television|       Same-Day|   Credit Card|  Processing|      5|
|       1001000|      33717|       Philadelphia|      USA| 35|Female|  High|         Regular|2012-06-23|2023| December| 4:56:51|              4|196.59247|    786.3699|      Home Decor|   Furniture|       Same-Day|          Cash|   Delivered|      2|
|       1001061|      82482|          Frankfurt|  Germany| 22|  Male|Medium|         Regular|2024-01-29|2024|  January|12:54:42|              6| 42.30735|    253.8441|           Books|  Children's|        Express|   Credit Card|   Delivered|      2|
|       1001124|      26532|            Bristol|       UK| 26|  Male|   Low|         Regular|2023-10-19|2023|  January|12:11:46|              9|30.121069|   271.08963|     Electronics|      Fridge|       Same-Day|        PayPal|   Delivered|      4|
|       1001126|      87037|          Frankfurt|  Germany| 24|Female|   Low|             New|2023-05-23|2023|      May|13:18:01|              9|41.272427|   371.45184|      Home Decor|     Kitchen|       Standard|    Debit Card|   Delivered|      1|
|       1001176|      86614|           Edmonton|   Canada| 60|Female|  High|         Premium|2007-12-23|2023|     July|22:38:16|              9|397.16098|    3574.449|     Electronics|      Tablet|       Standard|        PayPal|     Pending|      5|
|       1001602|      79403|             Boston|      USA| 23|  Male|  High|         Regular|2023-07-31|2023|     July|17:25:41|             10| 214.5452|    2145.452|     Electronics|      Tablet|        Express|          Cash|     Shipped|      4|
|       1001637|      42502|            Chicago|      USA| 34|Female|   Low|             New|2007-10-23|2023|     July|17:26:27|              6|489.96204|   2939.7722|     Electronics|      Tablet|        Express|   Credit Card|   Delivered|      4|
|       1001788|      27727|          Melbourne|Australia| 39|  Male|Medium|         Premium|2010-11-23|2023|      May|19:24:58|              7|131.40099|    919.8069|           Books| Non-Fiction|       Same-Day|        PayPal|     Shipped|      4|
|       1002001|      96683|Newcastle upon Tyne|       UK| 20|  Male|  High|             New|2023-09-17|2023|September| 0:57:09|              9|264.93164|   2384.3848|           Books|     Fiction|       Standard|          Cash|     Pending|      1|
|       1002717|      39198|         Portsmouth|       UK| 19|  Male|Medium|         Regular|2023-03-16|2023|    March| 6:19:06|              5|431.46738|    2157.337|      Home Decor|    Lighting|       Same-Day|        PayPal|   Delivered|      3|
|       1003009|      25829|            Bendigo|Australia| 26|  Male|   Low|         Regular|2024-02-17|2024|  January| 0:53:03|              4|12.069369|   48.277477|     Electronics|      Fridge|       Standard|   Credit Card|   Delivered|      4|
|       1003037|      49998|         Portsmouth|       UK| 21|Female|Medium|         Regular|2010-12-23|2023|  October|17:35:06|              9|128.80405|   1159.2363|           Books|  Literature|       Standard|          Cash|  Processing|      2|
|       1003129|      69104|           Canberra|Australia| 34|Female|Medium|         Regular|2023-05-29|2023|      May|18:01:53|             10|384.14456|   3841.4456|         Grocery|       Water|       Same-Day|        PayPal|     Shipped|      3|
|       1003285|      24195|            Windsor|   Canada| 26|  Male|   Low|         Regular|2023-05-29|2023|  January|20:24:55|              9|125.15536|   1126.3982|     Electronics|      Fridge|       Same-Day|   Credit Card|   Delivered|      3|
+--------------+-----------+-------------------+---------+---+------+------+----------------+----------+----+---------+--------+---------------+---------+------------+----------------+------------+---------------+--------------+------------+-------+
only showing top 20 rows

In [83]:
df = df.groupBy("Product_Category", "Date").agg(F.sum(F.col('Total_Purchases')).alias("Total_Purchases")).orderBy("Date", "Product_Category")
df.show(50)

+----------------+----------+---------------+
|Product_Category|      Date|Total_Purchases|
+----------------+----------+---------------+
|           Books|2001-01-24|            747|
|        Clothing|2001-01-24|            732|
|     Electronics|2001-01-24|           1062|
|         Grocery|2001-01-24|            882|
|      Home Decor|2001-01-24|            774|
|           Books|2001-02-24|            954|
|        Clothing|2001-02-24|            733|
|     Electronics|2001-02-24|            982|
|         Grocery|2001-02-24|            821|
|      Home Decor|2001-02-24|            651|
|           Books|2001-03-24|            840|
|        Clothing|2001-03-24|            838|
|     Electronics|2001-03-24|            868|
|         Grocery|2001-03-24|            954|
|      Home Decor|2001-03-24|            897|
|           Books|2001-04-24|            775|
|        Clothing|2001-04-24|            743|
|     Electronics|2001-04-24|            949|
|         Grocery|2001-04-24|            876|
|      Home Decor|2001-04-24|            866|
|           Books|2001-05-24|            773|
|        Clothing|2001-05-24|            771|
|     Electronics|2001-05-24|            999|
|         Grocery|2001-05-24|            943|
|      Home Decor|2001-05-24|            779|
|           Books|2001-06-24|            737|
|        Clothing|2001-06-24|            705|
|     Electronics|2001-06-24|            989|
|         Grocery|2001-06-24|            987|
|      Home Decor|2001-06-24|            719|
|           Books|2001-07-24|            766|
|        Clothing|2001-07-24|            628|
|     Electronics|2001-07-24|            970|
|         Grocery|2001-07-24|            860|
|      Home Decor|2001-07-24|            705|
|           Books|2001-08-24|            698|
|        Clothing|2001-08-24|            622|
|     Electronics|2001-08-24|            921|
|         Grocery|2001-08-24|            850|
|      Home Decor|2001-08-24|            842|
|           Books|2001-09-24|            724|
|        Clothing|2001-09-24|            826|
|     Electronics|2001-09-24|           1003|
|         Grocery|2001-09-24|           1022|
|      Home Decor|2001-09-24|            743|
|           Books|2001-10-24|            854|
|        Clothing|2001-10-24|            755|
|     Electronics|2001-10-24|            926|
|         Grocery|2001-10-24|           1211|
|      Home Decor|2001-10-24|            760|
+----------------+----------+---------------+
only showing top 50 rows

In [84]:
df.createOrReplaceTempView("sales_data")

In [ ]:
min_max_dates = spark.sql("""
    SELECT 
        Product_Category, 
        MIN(Date) AS min_date, 
        MAX(Date) AS max_date 
    FROM sales_data 
    GROUP BY Product_Category
""")
min_max_dates.createOrReplaceTempView("min_max_dates")


date_series = spark.sql("""
    SELECT 
        Product_Category, 
        date_add(min_date, idx) AS Date
    FROM (
        SELECT 
            Product_Category, 
            min_date, 
            max_date, 
            posexplode(
                split(space(datediff(max_date, min_date)), ' ')
            ) AS (idx, _)
        FROM min_max_dates
    )
""")
date_series.createOrReplaceTempView("date_series")


df_filled = spark.sql("""
    SELECT 
        ds.Product_Category, 
        ds.Date, 
        COALESCE(sd.Total_Purchases, 0) AS Total_Purchases
    FROM date_series ds
    LEFT JOIN sales_data sd
    ON ds.Product_Category = sd.Product_Category AND ds.Date = sd.Date
""")
df_filled.createOrReplaceTempView("filled_data")


df_interpolated = spark.sql("""
    SELECT 
        Product_Category, 
        Date, 
        Total_Purchases,
        COALESCE(
            Total_Purchases,
            AVG(Total_Purchases) OVER (
                PARTITION BY Product_Category 
                ORDER BY Date 
                ROWS BETWEEN 1 PRECEDING AND 1 FOLLOWING
            )
        ) AS Interpolated_Purchases
    FROM filled_data
""")

df_interpolated.show(60)

+----------------+----------+---------------+----------------------+
|Product_Category|      Date|Total_Purchases|Interpolated_Purchases|
+----------------+----------+---------------+----------------------+
|         Grocery|2001-01-24|            882|                 882.0|
|         Grocery|2001-01-25|              0|                   0.0|
|         Grocery|2001-01-26|              0|                   0.0|
|         Grocery|2001-01-27|              0|                   0.0|
|         Grocery|2001-01-28|              0|                   0.0|
|         Grocery|2001-01-29|              0|                   0.0|
|         Grocery|2001-01-30|              0|                   0.0|
|         Grocery|2001-01-31|              0|                   0.0|
|         Grocery|2001-02-01|              0|                   0.0|
|         Grocery|2001-02-02|              0|                   0.0|
|         Grocery|2001-02-03|              0|                   0.0|
|         Grocery|2001-02-04|              0|                   0.0|
|         Grocery|2001-02-05|              0|                   0.0|
|         Grocery|2001-02-06|              0|                   0.0|
|         Grocery|2001-02-07|              0|                   0.0|
|         Grocery|2001-02-08|              0|                   0.0|
|         Grocery|2001-02-09|              0|                   0.0|
|         Grocery|2001-02-10|              0|                   0.0|
|         Grocery|2001-02-11|              0|                   0.0|
|         Grocery|2001-02-12|              0|                   0.0|
|         Grocery|2001-02-13|              0|                   0.0|
|         Grocery|2001-02-14|              0|                   0.0|
|         Grocery|2001-02-15|              0|                   0.0|
|         Grocery|2001-02-16|              0|                   0.0|
|         Grocery|2001-02-17|              0|                   0.0|
|         Grocery|2001-02-18|              0|                   0.0|
|         Grocery|2001-02-19|              0|                   0.0|
|         Grocery|2001-02-20|              0|                   0.0|
|         Grocery|2001-02-21|              0|                   0.0|
|         Grocery|2001-02-22|              0|                   0.0|
|         Grocery|2001-02-23|              0|                   0.0|
|         Grocery|2001-02-24|            821|                 821.0|
|         Grocery|2001-02-25|              0|                   0.0|
|         Grocery|2001-02-26|              0|                   0.0|
|         Grocery|2001-02-27|              0|                   0.0|
|         Grocery|2001-02-28|              0|                   0.0|
|         Grocery|2001-03-01|              0|                   0.0|
|         Grocery|2001-03-02|              0|                   0.0|
|         Grocery|2001-03-03|              0|                   0.0|
|         Grocery|2001-03-04|              0|                   0.0|
|         Grocery|2001-03-05|              0|                   0.0|
|         Grocery|2001-03-06|              0|                   0.0|
|         Grocery|2001-03-07|              0|                   0.0|
|         Grocery|2001-03-08|              0|                   0.0|
|         Grocery|2001-03-09|              0|                   0.0|
|         Grocery|2001-03-10|              0|                   0.0|
|         Grocery|2001-03-11|              0|                   0.0|
|         Grocery|2001-03-12|              0|                   0.0|
|         Grocery|2001-03-13|              0|                   0.0|
|         Grocery|2001-03-14|              0|                   0.0|
|         Grocery|2001-03-15|              0|                   0.0|
|         Grocery|2001-03-16|              0|                   0.0|
|         Grocery|2001-03-17|              0|                   0.0|
|         Grocery|2001-03-18|              0|                   0.0|
|         Grocery|2001-03-19|              0|                   0.0|
|         Grocery|2001-03-20|              0|                   0.0|
|         Grocery|2001-03-21|              0|                   0.0|
|         Grocery|2001-03-22|              0|                   0.0|
|         Grocery|2001-03-23|              0|                   0.0|
|         Grocery|2001-03-24|            954|                 954.0|
+----------------+----------+---------------+----------------------+
only showing top 60 rows